* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5fdf6;
    color: #14532d;
    width: 100vw;
    height: 100vh;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
    margin-right: 8px;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #14532d;
    font-weight: bold;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #22c55e;
    font-size: 18px;
}

/* Seção Principal */
.hero {
    text-align: center;
    padding: 80px 20px;
    position: relative;
}

.hero-logo {
    width: 200px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.hero p {
    max-width: 600px;
    margin: 0 auto 25px;
    font-size: 1rem;
    line-height: 1.5;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background: #14532d;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: #22c55e;
    font-size: 17px;
}



/* Página Sobre */
.sobre-container {
    max-width: 1000px;
    margin: 60px auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.sobre-texto {
    flex: 1 1 400px;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #14532d;
}

.sobre-texto h1 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #22c55e;
}

.sobre-imagem {
    flex: 1 1 350px;
    text-align: center;
}

.sobre-imagem img {
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}